.backgroundimg {
  position: relative;
  width: 100%;
  height: 90vh;
  justify-content: center;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: left;
}
#contact-form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  right: 35%;
  position: absolute;
  top: 15%;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  text-align: left;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

@media screen and (min-width: 200px) {
  #contact-form {
    max-width: 160px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 560px) {
  #contact-form {
    max-width: 400px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 860px) {
  #contact-form {
    max-width: 500px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1400px) {
  #contact-form {
    max-width: 700px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
