@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.MainLoc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.MainLoc h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.MainLoc .Box {
  width: 300px;
  margin: 20px;
  text-align: center;
  transition: 1s;
}

.MainLoc img {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #f0f0f0;
}

.MainLoc div:first-child {
  width: 100%;
}

.MainLoc div:first-child h1 {
  font-size: 48px;
}
.MainLoc p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.MainLoc .Box :hover {
  z-index: 2;
  transform: scale(1.2);
  transition: 1s;
}
