.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  background-image: url("../assets/best_electric_luxury_car_bmw_i7.jpg");
  }
  
  .XmlDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #333;
    border-radius: 10px;
    width: 40vw;
    height: 65vh;
    justify-content: center;
    text-align: center;
    
  }
  
  .button_xml {
    width: 400px;
    padding: 20px;
    height: 60px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

  }
  
  .button_xml:hover {
    opacity: 90%;
  }