<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Car List</title>
	</head>
	<body>
		<h1>Car List</h1>
		<div>
			<h2>Honda</h2>
			<p>Year: 2003</p>
			<p>Kilometers: 6233 Km</p>
			<p>Color: Negru</p>
			<p>Rental Price: 100 lei/zi</p>
		</div>
		<div>
			<h2>Ford</h2>
			<p>Year: 2001</p>
			<p>Kilometers: 53332 Km</p>
			<p>Color: Rosie</p>
			<p>Rental Price: 100 lei/zi</p>
		</div>
		<div>
			<h2> Hyundai </h2>
			<p>Year: 2014</p>
			<p>Kilometers: 46456 Km</p>
			<p>Color: Alb</p>
			<p>Rental Price: 120 lei/zi</p>
		</div>
		<div>
			<h2>Nissan</h2>
			<p>Year: 2012</p>
			<p>Kilometers: 5333 Km</p>
			<p>Color: Alb</p>
			<p>Rental Price: 130 lei/zi</p>
		</div>
		<div>
			<h2> Toyota </h2>
			<p>Year: 2007</p>
			<p>Kilometers: 43131 Km</p>
			<p>Color: Verde</p>
			<p>Rental Price: 150 lei/zi</p>
		</div>
		<div>
			<h2>Mazda3</h2>
			<p>Year: 2004</p>
			<p>Kilometers: 3213 Km</p>
			<p>Color: Alb</p>
			<p>Rental Price: 150 lei/zi</p>
		</div>
		<div>
			<h2>Volkswagen</h2>
			<p>Year: 1998</p>
			<p>Kilometers: 332131 Km</p>
			<p>Color: Alb</p>
			<p>Rental Price: 200 lei/zi</p>
		</div>
		<div>
			<h2>Mercedes-Benz S-Class</h2>
			<p>Year: 2019</p>
			<p>Kilometers: 39233 Km</p>
			<p>Color: Alb</p>
			<p>Rental Price: 300 lei/zi</p>
		</div>
		<div>
			<h2>BMW 7 Series</h2>
			<p>Year: 2016</p>
			<p>Kilometers: 10932 Km</p>
			<p>Color: Negru</p>
			<p>Rental Price: 300 lei/zi</p>
		</div>
		<div>
			<h2>Audi A8</h2>
			<p>Year: 2017</p>
			<p>Kilometers: 9434 Km</p>
			<p>Color: Alb</p>
			<p>Rental Price: 350 lei/zi</p>
		</div>
	</body>
</html>