<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Car List</title>
	</head>
	<body>
		<h1>Car List</h1>
		<div>
			<h2>Honda</h2>
			<p>Year: 2003</p>
			<p>Kilometers: 6233Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2> Toyota </h2>
			<p>Year: 2007</p>
			<p>Kilometers: 43131Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Ford</h2>
			<p>Year: 2001</p>
			<p>Kilometers: 53332Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Volkswagen</h2>
			<p>Year: 1998</p>
			<p>Kilometers: 332131Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Mazda3</h2>
			<p>Year: 2004</p>
			<p>Kilometers: 3213Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Mercedes-Benz S-Class</h2>
			<p>Year: 2019</p>
			<p>Kilometers: 39233Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>BMW 7 Series</h2>
			<p>Year: 2016</p>
			<p>Kilometers: 10932Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Bentley Continental GT</h2>
			<p>Year: 2017</p>
			<p>Kilometers: 29333Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Rolls-Royce Phantom</h2>
			<p>Year: 2019</p>
			<p>Kilometers: 32993Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Lamborghini Urus</h2>
			<p>Year: 2020</p>
			<p>Kilometers: 40032Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Chevrolet Corvette</h2>
			<p>Year: 2014</p>
			<p>Kilometers: 33333Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Porsche 911</h2>
			<p>Year: 2018</p>
			<p>Kilometers: 24340Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Ferrari 488 GTB</h2>
			<p>Year: 2019</p>
			<p>Kilometers: 13443Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Lamborghini Huracán</h2>
			<p>Year: 2020</p>
			<p>Kilometers: 19432Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>BMW M3</h2>
			<p>Year: 2018</p>
			<p>Kilometers: 234444Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
		<div>
			<h2>Audi R8</h2>
			<p>Year: 2020</p>
			<p>Kilometers: 24432Km Km</p>
			<p>Fuel Type: Benzina</p>
		</div>
	</body>
</html>